@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* 
a {
    color: inherit;
    text-decoration: none;
} */

* {
    box-sizing: border-box;
}

a {
    /* color: #d9d9d9; */
    cursor: pointer;
    color: inherit;
    word-wrap: break-word;
    text-decoration: inherit;
    border-bottom: 0.05em solid;
    border-color: rgba(55, 53, 47, 0.4);
    opacity: 0.7;
}

a:hover {
    color: #d9d9d9;
}
